.main-content {
    .banner {
        margin: 15px 0 36px 0;

        .shop-now {
            width           : 108px;
            height          : 40px;
            line-height     : 40px;
            text-align      : center;
            background-color: $background-button-shop-now;
            font-size       : 14px;
            color           : $main-color;
            display         : block;
        }

        .title-top {
            font-size     : 16px;
            letter-spacing: 3px;
            color         : $text-baner-top;
            font-weight   : 500;
            font-family   : $main-font;
            text-transform: uppercase;
        }

        .title-bot {
            font-weight: 600;
            font-size  : 19px;

            color         : $color-logo;
            font-family   : $main-font;
            text-transform: uppercase;
            font-style    : normal;
        }

        .banner-col {
            margin: -15px 0;
        }

        &-left {
            @include col(66.66%);
            position: relative;

            .banner-left-content {
                position: absolute;
                left    : 65.6%;
                bottom  : 28%;
                width   : 50%;
                @include transformer(translate(-50%, 0));
                text-align: center;

                .title-special {
                    font-size    : 30px;
                    color        : $title-color;
                    margin-bottom: 15px;
                    font-family  : $banner-left-font;
                    font-weight  : 700;
                }

                .shop-now {
                    width      : 106px;
                    margin-left: 63.7%;
                }
            }
        }

        &-right {
            @include col(33.33%);

            .banner-child {
                padding : 15px 0;
                position: relative;

                .banner-right-content-content-top {
                    position: absolute;
                    top     : 55%;
                    left    : 57px;

                    @include transformer(translateY(-70%));

                    .title-top {
                        margin-top    : 13px;
                        letter-spacing: 3px;
                        font-weight   : 500;
                    }

                    .title-bot {
                        padding-top: 4px;
                        font-size  : 20px;
                        font-weight: 700;
                    }
                }

                .banner-right-content-content-bot {
                    @include transformer(translateY(-45%));
                    position: absolute;
                    top     : 49%;

                    left: 39px;

                    .title-top {
                        letter-spacing: 3px;
                        font-weight   : 500;
                    }

                    .title-bot {
                        padding-top: 4px;
                        font-size  : 20px;
                        font-weight: 700;
                    }

                    .shop-now-left {
                        display         : block;
                        height          : 40px;
                        line-height     : 40px;
                        text-align      : center;
                        background-color: $background-button-shop-now;
                        font-size       : 14px;
                        color           : $text-white-color;
                        width           : 105px;
                        padding-left    : 5px;
                        margin-top      : 18px;
                        text-align      : center;
                        margin-left     : 1px;
                    }
                }
            }
        }
    }

    .listing {
        .content {
            .title-top {
                margin-top    : 57px;
                font-size     : 14px;
                letter-spacing: 4px;
                color         : $color-menu;
                font-weight   : 900;
                font-family   : $main-font;
                text-transform: uppercase;
            }

            .title-bot-content {
                margin-top    : 0px;
                font-size     : 24px;
                color         : $title-color;
                font-weight   : 700;
                font-family   : $main-font;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            hr {
                margin-top: 29px;
                max-width : 47px;
                margin    : 0px;
                border    : 0.1px solid $color-hr;
            }
        }

        .main-listing {
            margin-top: 50px;

            .row {
                display  : flex;
                margin   : 0 -15px;
                flex-wrap: wrap;

                .product-col {
                    width     : 25%;
                    padding   : 0 15px;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                    }

                    .product-image {
                        padding-top: calc(322 / 262 * 100%);
                        position   : relative;

                        img {
                            position  : absolute;
                            top       : 0;
                            left      : 0;
                            height    : 100%;
                            object-fit: cover;
                        }

                        .add-cart {
                            width           : 118px;
                            height          : 40px;
                            position        : absolute;
                            background-color: $text-white-color;
                            bottom          : 5px;
                            left            : 5px;
                            cursor          : pointer;
                            transition      : 0.5s;
                            font-size       : 12px;
                            line-height     : 42px;
                            letter-spacing  : -0.07em;
                            text-align      : center;
                            color           : $text-color-shop-now;
                            font-weight     : 600;
                            font-family     : $main-font;
                            text-transform  : uppercase;

                            &:hover {
                                color     : $background-button-shop-now;
                                transition: 0s;
                            }
                        }
                    }

                    .product-content {
                        padding-bottom: 50px;

                        .productName {
                            margin-top: 20px;

                            h3 {
                                font-size    : 14px;
                                color        : $color-black;
                                font-weight  : 600;
                                font-family  : $main-font;
                                margin-top   : -3px;
                                margin-bottom: 11px;
                            }
                        }

                        .price-rating {
                            .rating {
                                i {
                                    font-size     : 11px;
                                    color         : $star-yeellow;
                                    margin-top    : -1px;
                                    letter-spacing: -0.1em;
                                    margin-left   : 0.5px;
                                }

                                .gray {
                                    color: $start-gray;
                                }
                            }

                            .price {
                                margin-top    : 11px;
                                display       : flex;
                                letter-spacing: -0.04em;

                                &-before {
                                    color    : $color-price-before;
                                    font-size: 15px;

                                    font-weight: 400;
                                    font-family: $main-font;
                                }

                                &-after {
                                    margin-left: 5px;
                                    color      : $color-menu;
                                    font-size  : 15px;

                                    font-weight: 600;
                                    font-family: $main-font;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .slider {
        margin-top: 25px;

        .container-fluid {
            background-repeat: no-repeat;
            background-size  : cover;
            height           : 708px;
            width            : 100%;
        }

        .main-slider {
            .container {
                .content {
                    padding-top: 67px;
                    text-align : center;

                    .firts-content {
                        margin        : 13px 0px 13px 10px;
                        font-size     : 13px;
                        letter-spacing: 0.4em;
                        color         : $color-menu;
                        font-weight   : 700;
                        font-family   : $main-font;
                        text-transform: uppercase;
                    }

                    .second-content {
                        margin        : 7px 0px 0px 0px;
                        font-size     : 24px;
                        letter-spacing: 2px;
                        color         : $title-color;
                        font-weight   : 700;
                        font-family   : $main-font;
                        text-transform: uppercase;
                    }

                    hr {
                        margin-top: 25px;
                        width     : 50px;
                        border    : 1px solid $color-hr;
                    }
                }

                .slider {
                    margin-top: 50px;

                    .list-item-slider {
                        .item {
                            width : 360px;
                            height: 389px;

                            .imgBx {
                                height  : 200px;
                                position: relative;

                                img {
                                    width     : 100%;
                                    height    : 100%;
                                    object-fit: cover;
                                }

                                .time {
                                    width           : 60px;
                                    height          : 60px;
                                    position        : absolute;
                                    background-color: $color-time-silder;

                                    top : 21px;
                                    left: 19px;

                                    &-content {
                                        border-top   : 1px solid $text-white;
                                        border-bottom: 2px solid $text-white;
                                        border-left  : 1px solid $text-white;
                                        border-right : 1px solid $text-white;
                                        text-align   : center;

                                        width : 48px;
                                        margin: 6px 5px 3px 5px;
                                        height: 48px;

                                        &-day {
                                            margin-top: 10px;
                                            display   : block;

                                            .top {
                                                font-size  : 14px;
                                                color      : $text-white;
                                                font-weight: 400;
                                                font-family: $main-font;
                                                margin     : 0;
                                            }

                                            .bot {
                                                margin-top : 0px;
                                                font-size  : 15px;
                                                color      : $text-white;
                                                font-weight: 700;
                                                font-family: $main-font;
                                                margin     : 4px 0px 0px 0px;
                                            }
                                        }
                                    }
                                }
                            }

                            .content-slider {
                                padding-top     : 18px;
                                background-color: $text-white-color;
                                height          : 189px;

                                .text {
                                    margin-left: 20px;

                                    .title {
                                        font-size  : 16px;
                                        color      : $title-color;
                                        font-weight: 900;
                                        font-family: $main-font;
                                        cursor     : pointer;

                                        &:hover {
                                            color: $background-button-shop-now;
                                        }
                                    }

                                    .content-center {
                                        margin-top : 20px;
                                        font-size  : 14px;
                                        line-height: 22px;
                                        color      : $text-color-slider;
                                        font-weight: 400;
                                        font-family: $content-font;
                                    }
                                }

                                .bottom {
                                    margin-top : 14.5px;
                                    font-size  : 14px;
                                    line-height: 22px;
                                    color      : #c0c0c0;
                                    display    : flex;
                                    border-top : 0.5px solid $summary-color;
                                    padding    : 15px 0px 15px 20px;

                                    span {
                                        margin-left: 5px;
                                    }

                                    .comment {
                                        margin-left: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-list {
            margin: 0 -15px;
        }

        .slick-initialized .slick-slide {
            display: block;
            padding: 0 15px;
        }

        .slick-next:before {
            display: none;
        }

        .slick-prev:before {
            display: none;
        }

        .slick-arrow {
            display: none;
        }

        .slick-dots {
            position       : absolute;
            bottom         : -53px;
            left           : 50%;
            transform      : translate(-50%, 0);
            display        : flex;
            align-items    : center;
            justify-content: center;
        }

        .slick-dots button {
            font-size       : 0;
            width           : 10px;
            height          : 10px;
            border-radius   : 100rem;
            background-color: $color-slider-dots;
            opacity         : 0.4;

            border    : none;
            outline   : none;
            transition: all 0.2s linear;
        }

        .slick-active button {
            background-color: $color-slider-dots;
            opacity         : 1;
            width           : 13px;
            height          : 13px;
            position        : absolute;
            top             : -1px;
        }

        .slick-dots li button:before {
            display: none;
        }
    }
}