// ------------------------------MONTSERRAT----------------------------------

@font-face {
    font-family: $main-font;
    src        : url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style : normal;
}

@font-face {
    font-family: $main-font;
    src        : url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style : normal;
}

@font-face {
    font-family: $main-font;
    src        : url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style : normal;
}

@font-face {
    font-family: $main-font;
    src        : url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: $main-font;
    src        : url("../fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}

// ------------------------------OPEN SANS----------------------------------

@font-face {
    font-family: $content-font;
    src        : url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style : normal;
}

// ------------------------------Pacifico----------------------------------

@font-face {
    font-family: $banner-left-font;
    src        : url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style : normal;
}