// Color

$main-color                  : #ffffff;
$border-color                : #0ba7c9;
$bg-banner                   : #f0f0f0;
$bg-item                     : #f5f5f5;
$bg-footer                   : #f2f2f2;
$bg-header                   : #222222;
$title-color                 : #000;
$color-black                 : #000;
$title-bg-color              : #ebebeb;
$summary-color               : #8f8f8f;
$mini-title-color            : #bababa;
$text-white-color            : #fff;
$text-header-color           : #525252;
$color-logo                  : #000000;
$color-menu                  : #8262b5;
$background-button-shop-now  :#8262b5;
$color-hr                    :#8262b5;
$color-price-before          :#999999;
$star-yeellow                :#f8ba04;
$start-gray                  :#d1d1d1;
$border-bottom               : #dddddd;
$text-baner-top              : #616161;
$bg-footer                   : #222222;
$text-white                  : #ffffff;
$text-white-2                : #f7f7f7;
$text-gray                   : #c0c0c0;
$text-gray-2                 : #888888;
$text-gray-3                 : #222222;
$boder-bottom-footer         : #393939;
$color-hover-menu            :rgb(218, 52, 52);
$border-bottom-menu-reponsive: #bbb;
$box-shadow-menu-reponsive   :rgba(187, 187, 187, 1);
$text-color-shop-now         :#424242;
$text-color-slider           :#424242;
$color-slider-dots           :#8161b5;
$color-time-silder           :#A1D1DD;


//Fonts

$main-font   :"Montserrat";
$content-font: "Open Sans";
$banner-left-font:"Pacifico";