// .footer {

//     background-color: $bg-footer;

//     .container {
//         padding: 63px 15px;

//         .footer-inner {
//             .row {
//                 display  : flex;
//                 flex-wrap: wrap;
//                 margin   : 0px 0px;

//                 .footer-col {
//                     width : 25%;
//                     margin: 0 50px;
//                     border: 1px solid white;

//                     .icon-bot {
//                         padding-top: 50px;
//                     }

//                     h4 {
//                         font-size     : 16px;
//                         letter-spacing: 0.04em;
//                         color         : #f7f7f7;
//                         font-weight   : 400;
//                         font-family   : "Montserrat";
//                         margin        : 0px 0px;
//                         padding-bottom: 28px;
//                         border-bottom : 0.5px solid white;

//                     }

//                     p {
//                         padding    : 10px 0px 0px 0px;
//                         max-width  : 85%;
//                         display    : block;
//                         margin     : 0px 0px;
//                         font-size  : 14px;
//                         color      : #888888;
//                         font-weight: 400;
//                         font-family: "Open Sans";
//                     }

//                     &-content {
//                         display: flex;

//                         li {
//                             display: block;

//                             line-height: 10px;
//                             margin     : 0;
//                             padding    : 10px 0px;
//                             text-align : left;

//                             color      : #888888;
//                             font-weight: 400;
//                             font-family: "Open Sans";
//                         }

//                         .right {
//                             border: 1px solid red;

//                         }
//                     }

//                     .address {
//                         li {
//                             font-size: 14px;
//                             display  : block;

//                             height: 10px;

//                             margin         : 0;
//                             padding        : 10px 0px;
//                             justify-content: center;

//                             color      : #888888;
//                             font-weight: 400;
//                             font-family: "Open Sans";
//                         }
//                     }

//                     &:last-child {
//                         width       : 20%;
//                         margin-left : 153px;
//                         margin-right: 0px;
//                     }

//                     &:first-child {
//                         margin-left: 0px;
//                     }
//                 }
//             }

//             .last-page {
//                 margin-top     : 73px;
//                 display        : flex;
//                 justify-content: space-between;

//                 &-left {
//                     i {
//                         color: red;
//                     }
//                 }

//                 &-right {
//                     i {
//                         margin-left: 10px;

//                         &:first-child {
//                             margin-left: 0px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.footer {

    width           : 100%;
    background-color: $text-gray-3;
    color           : $text-gray-2;
    box-sizing      : border-box;
    overflow        : hidden;



    &-main {


        padding: 48px 0;

        h4 {
            color    : $text-white-2;
            margin   : 0 0 30px 0;
            font-size: 16px;
        }



        &-line {
            width: 100%;
        }

        .row {

            justify-content: space-between;
            font-size      : 14px;

            .about {
                @include col(29%);
                padding: 10px;

                p {

                    font-family: 'Open Sans';

                    border-top: 1px solid #393939;
                    margin    : 30px 0 50px 0;
                    padding   : 30px 0 0 0;

                }

                .footer-social {
                    padding: 0 -15px;

                    i {
                        margin: 0 15px;
                    }
                }

            }

            .navigation {
                @include col(25%);

                &-group {
                    display        : flex;
                    justify-content: space-between;
                    border-top     : 1px solid #393939;
                    margin         : 30px 0 0 0;
                    padding        : 30px 0 0 0;

                    ul {
                        font-family: 'Open Sans';

                        li {
                            margin: 10px 0;

                            a {
                                color: $text-gray-2;

                                &:hover {
                                    color          : $text-white-2;
                                    text-decoration: underline;

                                }

                            }


                        }
                    }
                }
            }

            .contact {
                @include col(25%);

                ul {
                    border-top: 1px solid #393939;
                    margin    : 30px 0 50px 0;
                    padding   : 30px 0 0 0;

                    li {
                        display: block;
                        margin : 10px 0;

                        .icon {
                            margin-left: 5px;
                        }

                        span {
                            margin-left: 10px;
                        }

                    }
                }
            }
        }





    }

    &-copyright {
        padding   : 30px 0;
        border-top: 1px solid #393939;


        .row {
            justify-content: space-between;
        }
    }
}